$background: rgb(252, 248, 255);
$category-background: rgb(236, 231, 240);
$middleground: rgb(116, 0, 193);
$foreground: rgb(153, 0, 255);
$header-icons: rgb(255, 255, 255);
$product-description: rgb(0 0 0 / 80%);